server:
  port: 8082

spring:
  security:
    enabled: false
  application:
    name: HOTEL-SERVICE
  config:
    import: optional:configserver:http://localhost:8085
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/hotelratingsystem
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

