server:
  port: 8081

spring:
  security:
    enabled: false
  application:
    name: USER-SERVICE
  config:
    import: optional:configserver:http://localhost:8085
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/hotelratingsystem
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: https://dev-08128401.okta.com/oauth2/default
#
#      client:
#        registration:
#          my-internal-client:
#            provider: okta
#            authorization-grant-type: client_credentials
#            scope: internal
#            client-id: 0oaiwvja38Je5pZFX5d7
#            client-secret: j1hfVtAautPt2tUwmd3qkOSZWY1HMCIfNhny1Iss8a-6beV9wbLCHvGQUwMhmMfU
#
#        provider:
#          okta:
#            issuer-uri: https://dev-08128401.okta.com/oauth2/default




management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
  retry:
    instances:
      ratingHotelService:
        max-attempts: 3
        wait-duration: 3s
  ratelimiter:
    instances:
      userRateLimiter:
        limit-refresh-period: 4s
        limit-for-period: 2
        timeout-duration: 2s




#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

