server:
  port: 8083



spring:
  security:
    enabled: false
  application:
    name: RATING-SERVICE
#  config:
#    import: optional:configserver:http://localhost:8085
  cloud:
    config:
      enabled: false
  profiles:
    active: dev
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: hotelratingsystem

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
